<section id="contact">
  <div class="row justify-content-md-center">
    <div class="col-sm-10 inner">
    <h1> Contact Me </h1>
      <p>Feel free to get in touch with me 👋</p>
      <p>Resume and references are avaliable upon request. I look forward to hearing from you!</p>
        <a href="mailto:nicholasrmills@icloud.com">Email</a> &#9679;
        <a target="_blank" href="https://www.linkedin.com/in/nicholas-mills-4832b1140/">LinkedIn</a> &#9679;
        <a target="_blank" href="https://github.com/nickrm97">Github</a>
      </p>
    </div>
  </div>
</section>
